<div class="row col-sm-8 col-lg-6">
    <div class="jumbotron">
        <p class="lead well-lg">Brunne wo bisch?</p>
        <p class="">Näbedran finsch e charte mit de 5 nächschte Brunne.</p>
        <p>Möglichscht zum trinke, natürlich und klar. Gniesses!</p>
        <p id="thankYouP">Und wenn grad bi eim steisch: trag ne i! </p>
        <p>Kontakt: info ät open-source.tips</p>
        <p>Source: <a href="https://github.com/less-zeka/Less.Well">Github</a> </p>
    </div>
</div>
<div class="clearfix"></div>
<script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Utils.js" type="text/javascript"></script>
<script src="~/js/Home/About.js" type="text/javascript"></script>
